body{color:#554b46;
font-family: "Lucida Grande", Verdana, Arial, Helvetica,"Microsoft YaHei","宋体";
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:18px;
margin:0; padding:0;
background:#ffffff;
overflow-y:none; /* firefox */
#overflow-y:none; /*IE 7 ,8 */
_overflow-y:none; /*IE 6*/
}

h1{font-size:30px;}
div#images{width:1000px;margin:50px auto;}
div#images .cat_cell{border:1px solid #ccc;text-align:center;width:300px;height:250px;margin:0px 20px 20px 0px;float:left;}
div#images .div_img{width:150px;height:150px;margin:30px auto;background-position:center center;background-repeat: no-repeat;}
div#images #images_title{margin:30px 0px;}
div#images img{display:block;}
div#images a{color:#999;}
a{text-decoration: none;}
a:hover{background:#000;}
/* mactive's personal collection*/
.bold{ font-weight:bold;}
.italic{ font-style:italic;}
.underline{ text-decoration:underline;}
.font9px{ font-size:9px;}
.font10px{ font-size:10px;}
.font11px{ font-size:11px;}
.font12px{ font-size:12px;}
.font13px{ font-size:13px;}
.font14px{ font-size:14px;}
.font16px{ font-size:16px;}
.font18px{ font-size:18px;}
.font20px{ font-size:20px;}
.font24px{ font-size:24px;}
.font28px{ font-size:28px;}
.purple{color:#9f38a3;}
.pure-red-color{color: #FF0000;}
.blue-color{color: #80016C;}
.green-color{color: #6AB30F;}
.red-color{color: #FF1A00;}
.grey333{color:#333333;}
.grey666{ color:#666666;}
.grey999{ color:#999999;}
.light_purple{color:#A745AA;}
.purple{color:#80016C;}
.titlepad5px{padding:5px;padding-left:13px;}
.f_left{ float:left;}
.f_right{ float:right;}
.clear {
  clear: both;line-height:1px;
}
.yellow_notice{text-align:center;border:1px solid #ccc;background:#fffead;margin:10px 0px;padding:10px auto;height:40px;line-height:40px;}
.white_color{color:#b3b3b3;}
.blue_color{color:#0c7bed;}
.gray_color{color:#5c5c5c;}
.red_color{color:#ff0103;}

.radius_2px{-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.radius_3px{-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.radius_5px{-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

.table_standard {margin-bottom:5px;}
.table_standard tr{height:25px;line-height:25px;font-size:12px;}
.table_standard td{padding:5px 5px;height:25px;line-height:25px; text-align:left;vertical-align:middle;}
.table_standard td.center{padding:0px 5px;height:25px;line-height:25px; text-align:center;}
.table_standard td.right{padding:0px 5px;height:25px;line-height:25px; text-align:right;}
.table_standard td.left{padding:0px 5px;height:25px;line-height:25px; text-align:left;}
.table_standard th{padding:0px 5px;height:25px;line-height:25px;}

.table_standard tr.city_upload{background:#e3e3e3;}
.table_standard tr.city_audit_confirm{background:#D2FC89;}
.table_standard tr.city_audit_cancel{background:#FFACAC;}
.table_standard tr.hover_tr{background:#6ce2ff;}
.table_border{border:1px solid #DADADA;border-collapse:collapse;}
.table_border_dark{border:1px solid #666666;border-collapse:collapse;}

div.height_1px{height:1px;line-height:1px;font-size:1px;width:100%;}
div.height_2px{height:2px;line-height:1px;font-size:1px;width:100%;}
div.height_3px{height:3px;line-height:1px;font-size:1px;width:100%;}
div.height_5px{height:5px;line-height:5px;font-size:1px;width:100%;#width:750px;_width:750px;}
div.height_8px{height:8px;line-height:1px;font-size:1px;width:100%;#width:750px;_width:750px;}
div.height_10px{height:10px;line-height:10px;font-size:8px;width:100%;#width:750px;_width:750px;}
div.height_20px{height:20px;line-height:20px;}
div.height_70px{height:70px;line-height:70px;}